/* regole di reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*{
    border: 1px solid red;
    
}
.nav-bar{
    height: 70px;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    display: fixed;
}

.menu-list li{
    display: inline;
    flex: gap;
    
}

.drop{
    margin-right: 430px;
    }

.start{
    max-height: 35px;
    max-width: 80px;
    background-color: rgba(63, 63, 165, 0.664);
    color: white;
}
/* hero */
.content-hero{
    max-width: 1200px;
    margin:0 auto;
    background-color: rgb(143, 210, 236);
    max-height: 600px;
}

.titolo{
    max-width: 900px;
    margin:0 auto;
    padding-top: 70px;
    position: relative;
    
    
}
h1{
    font-size: 70px;
    text-align: left;
    display: inline-block;
    margin-bottom: 70px;
    
}

.sidebox{
    display: flex;
    flex-direction: row;
    
}
.box-40{
    flex-basis: 40%;
    max-height: 800px;
    text-align: left;
    
}
.box-40 button{
    align-self: flex-end;    
}

.button{
    height: 35px;
    width: 160px;
    background-color:rgba(63, 63, 165, 0.664);
    color: white;
    text-align: center;
}

.box-60{
    flex-basis: 60%;
    max-height:800px;
    
  
    
   
}
.img-out{
    position: absolute;
    z-index: 1;
    margin-left: 0;
    background-image: url(../img/jumbo.png);
    background-size:contain;
    background-repeat: no-repeat;
    min-height: 60%;
    width: 100%;

}

.box-40 p{
    display: inline-block;
    justify-content: left;
    margin-bottom: 20px;
    
}
.box-40 button{
    margin-bottom: 20px;
}
.arrow{
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* main */

.main-card{
    max-width: 900px;
    min-height: 400px;
    margin:0 auto;
    margin-top: 100px;
}

.card-container{
    max-width: 800px;
    margin:o auto;
}
.title-card p{
    display: inline-block;
}
#radio{
    margin-left: 30px;
}
.title-card h2{
    margin-bottom: 40px;
    text-align: left;
}
