/* regole di reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*{
    border: 1px solid red;
    
}

.nav-bar{
    height: 70px;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    background-color: white;
    align-items: center;
    padd
}

.menu-list li{
    display: inline-block;
    gap: 10px;
    
    
    
}

.drop{
    margin-right: 430px;
    }

.start{
    max-height: 35px;
    max-width: 80px;
    background-color: rgba(63, 63, 165, 0.664);
    color: white;
}
/* hero */
.content-hero{
    max-width: 1200px;
    margin:0 auto;
    background-color: rgb(143, 210, 236);
    max-height: 600px;
}

.titolo{
    max-width: 900px;
    margin:0 auto;
    padding-top: 70px;
    position: relative;
    
    
}
h1{
    font-size: 70px;
    text-align: left;
    display: inline-block;
    margin-bottom: 70px;
    
}

.sidebox{
    display: flex;
    flex-direction: row;
    
}
.box-40{
    flex-basis: 40%;
    max-height: 800px;
    text-align: left;
    
}
.box-40 button{
    align-self: flex-end;    
}

.button{
    height: 35px;
    width: 160px;
    background-color:rgba(63, 63, 165, 0.664);
    color: white;
    text-align: center;
    display: inline-block;

}

.box-60{
    flex-basis: 60%;
    max-height:800px;
    
  
    
   
}
.img-out{
    position: absolute;
    z-index: 1;
    margin-left: 0;
    background-image: url(../img/jumbo.png);
    background-size:contain;
    background-repeat: no-repeat;
    min-height: 60%;
    width: 100%;

}

.box-40 p{
    display: inline-block;
    justify-content: left;
    margin-bottom: 20px;
    
}
.box-40 button{
    margin-bottom: 20px;
}
.arrow{
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* main */

.main-card{
    max-width: 900px;
    min-height: 400px;
    margin:0 auto;
    margin-top: 100px;
    display: flex;
}

.card-container{
    margin:0 auto;
    
   
}
/* 
.title-card p{
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 20px;
}

/* .title-card h2{ 
    padding-left: 20px;
    margin-bottom: 40px;
    text-align: left;
}*/
#radio{
    margin-left: 30px;
}

.card.flex{
    flex-grow: 1;
    flex-basis: 0;
    gap: 40px;
    margin-bottom: 40px;
        
}

.card-special{
    display: flex;
    flex-direction: row;
}

.card.flex li{
    display: inline-block;
    text-decoration: none;
    padding-bottom: 15px;
}

.card-style{
    padding: 40px,20px;
}

.button{
    height: 30px;
    min-width: 160px;
    background-color: rgba(63, 63, 165, 0.664);
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.user{
    text-align: center;
    min-height:35px;
    padding-top: 5px;
}

.card-bases{

    flex-basis:calc(100%/1);
    
}

.card-bases h2{
    display: inline-block;
    padding-left: 20px;
    padding-bottom: 40px;

    
}
.card-bases h4{
    padding-left: 20px;
    margin-bottom: 40px;
}
.card-bases > p{
    padding-left: 20px;
    
}
#prime{
    margin-bottom: 30px;
}


  /*section 3  */
  .main-conteiner{
    width: 1200px;
    margin:0 auto;
    
  }
.section-conteiner{
    width: 900px;
    margin:0 auto;
}

.sidebox-two{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.size60{
    flex-basis: 60%;
    min-height:300px;
    background-image: url(../img/partner.png);
    background-size:contain;
    background-repeat: no-repeat;
    
}
.size40{
    flex-basis: 40%;
    min-height: 300px;
    padding-top: 50px;
    text-align: left;
}
.size40>h3,p{
    margin-bottom: 30px;
    display: inline-block;
    padding-left: 20px;
}
hr{
    display: inline-block;
    max-width: 200px;
    color: lightgrey;
}
/* section 4 */
.box-card{
    min-height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.buisness{
    width: calc(100%*2/6);
}
.team-user{
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
.user{
    min-height: 250px;

}
/* section 5 */
.flexer{
    display: flex;
    flex-direction: row;
    min-height: 400px;
}

.box{
    width:calc(100%/3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.son{
    min-height: 200px;
    width: calc(100%*2/4);
    

}
.taker{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color:rgba(157, 205, 214, 0.664) ;
}
.taker-text{
    min-height: 300px;

}
.ask{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 200px;
}

.ask{
    width: 900px;
    margin:0 auto;

}
.ask-text h4{
    display: inline-block;
}
/* last section */
.list-conteiner{
    width: 900px;
    margin:0 auto;
    display: flex;
}
.list{
    
    width: calc(100%*5/1);
    
}
li{
    display: inline-block;
}
.list h4{
    display: block;
}
ul{
    display: flex;
    flex-direction:column;
}