/* regole di reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*{
    border: 1px solid red;
    
}
.nav-bar{
    height: 70px;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    display: fixed;
}

.menu-list li{
    display: inline;
    flex: gap;
    
}

.drop{
    margin-right: 430px;
    }

.start{
    max-height: 35px;
    max-width: 80px;
    background-color: rgba(63, 63, 165, 0.664);
    color: white;
}
/* hero */
.content-hero{
    max-width: 1200px;
    margin:0 auto;
    background-color: rgb(143, 210, 236);
    max-height: 600px;
}

.titolo{
    max-width: 900px;
    margin:0 auto;
    padding-top: 70px;
    
    
}
h1{
    font-size: 40px;
    text-align: left;
    display: inline-block;
    padding-right: 45%;
}

.sidebox{
    display: flex;
    flex-direction: row;
}
.box40{
    flex-basis: 40%;
    max-height: 600px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.box-40 button{
    align-self: flex-end;    
}

.button{
    height: 35px;
    width: 160px;
    background-color:rgba(63, 63, 165, 0.664);
    color: white;
    text-align: center;
}

.box60{
    flex-basis: 60%;
    max-height: 600px;
    position: relative;
   
}
.img-out{
    position: absolute;
    z-index: 1;
    background-image: url(../img/jumbo.png);
    background-size:100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 110%;
    width: 100%;
    top:0;
}